.footer {
    
    background: #F5F5F5;
    
    &__block {
        display: flex;
        justify-content: space-between;
        padding-top: 34px;
        padding-bottom: 34px;
    }
    
    &__text {
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #2F2F2F;
    }
    
    &__list {
        display: flex;
        gap: 96px;
    }
    
    &__item {
        list-style-type: none;
    }
    
    &__link1 {
        text-decoration: none;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #2F2F2F;
        position: relative;

        &::before{
            content: url(../../img/facebook.svg);
            position: absolute;
            top: 0;
            left: -20px;
        }

        &::after{
            content: url(../../img/span-arrow.svg);
            position: absolute;
            top: -5px;
            right: -35px;
        }
    }

    &__link2 {
        text-decoration: none;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #2F2F2F;
        position: relative;

        &::before{
            content: url(../../img/insta.svg);
            position: absolute;
            top: 0;
            left: -30px;
        }

        &::after{
            content: url(../../img/span-arrow.svg);
            position: absolute;
            top: -5px;
            right: -35px;
        }
    }

    &__link3 {
        text-decoration: none;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #2F2F2F;
        position: relative;

        &::before{
            content: url(../../img/tg.svg);
            position: absolute;
            top: 0;
            left: -30px;
        }
    }
}

@media only screen and (max-width: 425px){

    .footer {
    
        background: #F5F5F5;
        
        &__block {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding-top: 40px;
            padding-bottom: 40px;
        }
        
        &__text {
            font-family: 'Gilroy';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #2F2F2F;
            margin: 0 auto; 
            margin-bottom: 25px;
        }
        
        &__list {
            display: flex;
            gap: 50px;
            margin: 0 auto;
        }
        
        &__item {
            list-style-type: none;
        }
        
        &__link1 {
            text-decoration: none;
            font-family: 'Gilroy';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            color: #2F2F2F;
            position: relative;
    
            &::before{
                content: url(../../img/facebook.svg);
                position: absolute;
                top: 0;
                left: -18px;
            }
    
            &::after{
                content: url(../../img/span-arrow.svg);
                position: absolute;
                top: -5px;
                right: -35px;
                display: none;
            }
        }
    
        &__link2 {
            text-decoration: none;
            font-family: 'Gilroy';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            color: #2F2F2F;
            position: relative;
    
            &::before{
                content: url(../../img/insta.svg);
                position: absolute;
                top: 0;
                left: -25px;
            }

            &::after{
                content: url(../../img/span-arrow.svg);
                position: absolute;
                top: -5px;
                right: -35px;
                display: none;
            }
    
        }
    
        &__link3 {
            text-decoration: none;
            font-family: 'Gilroy';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            color: #2F2F2F;
            position: relative;
    
            &::before{
                content: url(../../img/tg.svg);
                position: absolute;
                top: 0;
                left: -25px;
            }
        }
    }

}